.card { 
  .card-body.dashboard-card {
    padding: 18px;
    padding-bottom: 20px;
  }
}

.card-border {
  ::ng-deep .card {
    border: 2px solid #ae83ff;
    border-radius: 8px;
  }
}

.card-num-primary {
  padding: 1px 0px 1px 2px;
  border: 1px solid #6610f2;
  background: #efe7fe;
  border-radius: 5px;
  margin-right: 2px;
}

.card-num-danger {
  padding: 1px 0px 1px 2px;
  border: 1px solid #ff4d4f;
  background: #ffdddd;
  border-radius: 5px;
  margin-right: 2px;
}

.user-group {
  img {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.1s ease-in-out;
    border: 2px solid var(--bs-white);
    + img {
      margin-left: -14px;
    }
    &:hover {
      z-index: 5;
    }
  }
}

.badge-circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.card-icon {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
