/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--mat-sys-primary-container);
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    color: var(--mat-sys-primary);
    background-color: var(--mat-sys-primary-container);
}

.side-nav {
    height: 100vh;
}