<div class="d-flex justify-content-between search-box">
    <div class="col-md-4">
        <input id="search" type="search" [(ngModel)]="searchText" placeholder="Search File" (keyup)="onSearchChange()"
            class="form-control">
    </div>
    <button class="btn btn-primary" (click)="openFileUploadModel(fileupload)">
        <i antIcon type="cloud-upload" theme="outline"></i> Upload
    </button>
</div>
<div class="col-md-12">
    <div class="card tbl-card">
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th># ID</th>
                        <th>NAME</th>
                        <th>TYPE</th>
                        <th>SIZE</th>
                        <th>DATE</th>
                        <th class="text-center">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    @if(files.length == 0) {
                    <tr>
                        <td colspan="6">
                            <p class="text-center m-0"> No Record Found </p>
                        </td>
                    </tr>
                    }
                    @for (file of files; track file) {
                    <tr>
                        <td>
                            <a href="javascript:" class="text-muted">{{file.id}}</a>
                        </td>
                        <td>{{ file.file_name }}</td>
                        <td>
                            @switch (file.type) {
                            @case ('PDF') {
                            <span class="table-badge pdf">{{file.type}}</span>
                            }

                            <!-- Images -->

                            @case ('PNG') {
                            <span class="table-badge image">{{file.type}}</span>
                            }
                            @case ('JPEG') {
                            <span class="table-badge image">{{file.type}}</span>
                            }
                            @case ('SVG') {
                            <span class="table-badge image">{{file.type}}</span>
                            }

                            @case ('DOCX') {
                            <span class="table-badge word">{{file.type}}</span>
                            }
                            @case ('PLAIN') {
                            <span class="table-badge text">{{file.type}}</span>
                            }
                            @default {
                            <span class="table-badge other">OTHER</span>
                            }
                            }
                        </td>
                        <td>{{ file.size }}</td>
                        <td>{{ file.created_time }}</td>
                        <td class="action d-flex justify-content-center">
                            <span class="edit" title="Edit" (click)="getFileByName(file)">
                                <i antIcon type="eye" theme="outline"></i>
                            </span>
                            <span class="edit" title="Download" (click)="downloadFile(file)">
                                <i antIcon type="download" theme="outline"></i>
                            </span>
                            <span class="share" title="Share" (click)="onShareFile(file)">
                                <i antIcon type="share-alt" theme="outline"></i>
                            </span>
                            <span class="delete" title="Delete" (click)="openFileDeleteModel(deleteFileModel, file)">
                                <i antIcon type="delete" theme="outline"></i>
                            </span>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshFiles()">
                    <option [ngValue]="8">8 items per page</option>
                    <option [ngValue]="12">12 items per page</option>
                    <option [ngValue]="16">16 items per page</option>
                </select>

                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                    (pageChange)="refreshFiles()">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>


<ng-template #fileview let-modal>
    <div class="modal-header">
        <h4 class="modal-title">File View</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        @if (fileToView.fileData != null) {
        @switch (fileToView.type) {
        @case ('PDF') {
        <pdf-viewer [src]="fileToView.fileData" [render-text]="true" style="display: block;"></pdf-viewer>
        }
        @case ('SVG') {
        <div [innerHTML]="fileToView.fileData"></div>
        }
        @case ('JPEG') {
        <img [src]="fileToView.fileData" class="view-img" alt="">
        }
        @case ('PNG') {
        <img [src]="fileToView.fileData" class="view-img" alt="">
        }
        @case ('PLAIN') {
        <pre>{{ fileToView.fileData }}</pre>
        }
        }
        }
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #fileupload let-modal>
    <div class="modal-header">
        <h4 class="modal-title">File Upload</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <input id="file" type="file" placeholder="Select file" (change)="onFileSelected($event)" class="form-control" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="uploadFile()">Upload</button>
    </div>
</ng-template>

<ng-template #deleteFileModel let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Delete File</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h4>Are you sure you want to delete this file?</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteFile()">Delete</button>
    </div>
</ng-template>

<ng-template #fileshare let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Share File</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="onCloseShareModel()"></button>
    </div>
    <div class="modal-body">
        @if (fileToShare != null) {
            <div class="share-file">
                <span>{{fileToShare.file_name}}</span>
                <span>{{fileToShare.size}}</span>
                @switch (fileToShare.type) {
                @case ('PDF') {
                <span class="table-badge pdf">{{fileToShare.type}}</span>
                }
    
                <!-- Images -->
    
                @case ('PNG') {
                <span class="table-badge image">{{fileToShare.type}}</span>
                }
                @case ('JPEG') {
                <span class="table-badge image">{{fileToShare.type}}</span>
                }
                @case ('SVG') {
                <span class="table-badge image">{{fileToShare.type}}</span>
                }
    
                @case ('DOCX') {
                <span class="table-badge word">{{fileToShare.type}}</span>
                }
                @case ('PLAIN') {
                <span class="table-badge text">{{fileToShare.type}}</span>
                }
                @default {
                <span class="table-badge other">{{fileToShare.type}}</span>
                }
                }
            </div>
        }
        <hr>
        <div class="row">
            <div class="col-8 mb-2">
                <span class="fw-bold">Users</span>
            </div>
            <div class="col-4 mb-2">
                <span class="fw-bold">Access</span>
            </div>

            @for (item of fileShare.users; track item) {
            <div class="col-8">
                <div class="form-group">
                    <select placeholder="Select User" [(ngModel)]="item.user_id" class="form-control">
                        @for (user of allUsers; track user) {
                        <option [value]="user.id">{{user.firstname}} {{user.lastname}}</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-4">
                <select placeholder="Select User" [(ngModel)]="item.access_id" class="form-control">
                    <option [ngValue]="1">Full</option>
                    <option [ngValue]="2">View</option>
                    <option [ngValue]="3">Download</option>
                </select>
            </div>
            }
            <div class="col-8"></div>
            <div class="col-4 d-flex justify-content-end">
                <button class="btn btn-primary" (click)="shareAddUser()">Add</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCloseShareModel()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveShareFile()">Share</button>
    </div>
</ng-template>